<div id="MCSManagerNews" class="OneContainer">
  <div class="row">
    <div class="col-md-8">
      <div class="Panel PanelBlack">
        <div class="PanelTitle">最新动态与信息通知</div>
        <div class="PanelBody" style="max-height: 90vh; overflow-y: scroll">
          <p>关注这里，如果出现BUG/新版本我们会立即通告 (面板自动每天定时更新)</p>
          <div class="news" v-for="item of items">
            <p class="color-gray" v-text="item.time"></p>
            <p v-text="item.msg"></p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="Panel PanelBlack">
        <div class="PanelTitle">使用反馈</div>
        <div class="PanelBody">
          <p>如果使用中遇到任何问题或发现错误，可反馈到此:</p>
          <p>
            Issues: <a href="https://github.com/LiteServerProject/MCSManager/issues" target="_blank"> LiteServerProject / MCSManager </a>
          </p>
        </div>
      </div>

      <div class="Panel">
        <div class="PanelTitle">开源协议</div>
        <div class="PanelBody">
          <p>遵循 MIT 开源协议</p>
          <p>
            <small
              >A short and simple permissive license with conditions only requiring preservation of copyright and license notices. Licensed works, modifications, and larger works may be distributed
              under different terms and without source code.
            </small>
          </p>

          <p>LiteServer Project版本基于 MIT 协议分发</p>
          <p>
            <a href="https://github.com/LiteServerProject/MCSManager/blob/master/LICENSE" target="_blank">点击此处查看完整协议内容</a>
          </p>

          <p>
            我们尊重并感谢Suwings创造的<a href="https://github.com/Suwings/MCSManager" target="_blank">MCSManager</a>项目.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  MI.rListener("onload", function () {
    // 定义页面地址
    TOOLS.definePage("template/feelback", "genuser/home", null);

    RES.ajax({
      type: "GET",
      url: "public/news.json",
      success: function (result) {
        new Vue({
          el: "#MCSManagerNews",
          data: result
        });
      }
    });
  });

  MI.rListener("onend", function () {});
</script>
