<div id="LiteServerCloudNews" class="OneContainer">
  <div class="row">
    <div class="col-md-8">
      <div class="Panel">
        <div class="PanelTitle">LiteServer Cloud</div>
        <div class="PanelBody" style="max-height: 90vh">
          <p>当前管理面板是 LiteServer Project 提供的技术支持服务</p>
          <div class="news" v-for="item of items">
            <p class="color-gray" v-text="item.title"></p>
            <p v-text="item.msg"></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  MI.rListener("onload", function () {
    // 定义页面地址
    TOOLS.definePage("template/gen_about", "genuser/home", "");

    RES.ajax({
      type: "GET",
      url: "public/cloud.json",
      success: function (result) {
        new Vue({
          el: '#LiteServerCloudNews',
          data: result
        })
      }
    })
  });

  MI.rListener("onend", function () {});
</script>
